# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build and Cache
/.next/
/out/
/build

# Environment Variables
.env
.env*.local

# Testing
/coverage

# Vercel and Deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System Files
.DS_Store
*.pem

# IDE Settings (Optional)
.vscode/
.idea/
